<html ng-app="attempt10">

	<link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
	<title>Attempt 10</title>

	<body ng-controller="controller">

	<input ng-model="input" placeholder="Enter Text"></input>
	<br>

	<p>{{input}}</p>

	<div ng-repeat="friend in displayFriends | filter: friend"><p>{{friend.name}}</p><p>Age: {{friend.age}}</p><hr></div>
	<input ng-model="friend" placeholder="Filter"></input>

	<div><p>{{data.name}}<br>Gender: {{data.gender}}<br>EyeColor: {{data.eye_color}}<br>Birth Year: {{data.birth_year}}<br>Hair Color: {{data.hair_color}}</p></div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
